<div id="navbar">
  <nav class="navbar navbar-expand-lg py-0">
    <div class="container-fluid">
      <img src="../../assets/logo.png" class="navbar-brand" alt="site logo" />
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarToggler"
        aria-controls="navbarToggler"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarToggler"
      >
        <ul class="navigation-link">
          <li class="active">Home</li>
          <li>About</li>
          <li>E-Visa</li>
          <li>Work Permits</li>
          <li>Invitations</li>
          <li class="icon"><i class="fas fa-phone-alt"></i></li>
          <li class="icon"><i class="fas fa-search"></i></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
