<!-- NavBar Section -->
<app-navbar></app-navbar>

<!-- Header Section -->
<div id="home-header">
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img
          src="../assets/header-illustration.svg"
          class="img-fluid"
          alt="header illustration"
        />
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div class="desc-section">
          <div class="heading">Global <span>Tourister</span></div>
          <div class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing.
          </div>
          <div class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing.
          </div>
          <div class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing.
          </div>
          <div class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing.
          </div>
          <div class="know-more">
            Know more <i class="fas fa-caret-right"></i
            ><i class="fas fa-caret-right"></i>
          </div>
          <div class="social-icons">
            <div class="icon"><i class="fab fa-facebook"></i></div>
            <div class="icon"><i class="fab fa-instagram"></i></div>
            <div class="icon"><i class="fab fa-twitter"></i></div>
            <div class="icon"><i class="fab fa-telegram"></i></div>
            <div class="icon"><i class="fab fa-whatsapp"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Facility Section -->
<div id="facility-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-sm-6 desc-section">
        <img src="../assets/flight.png" class="icon img-fluid" alt="icon" />
        <div class="name" title="click me">
          Flight <br />
          Booking
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 desc-section">
        <img src="../assets/hotel.png" class="icon img-fluid" alt="icon" />
        <div class="name" title="click me">
          Hotels &
          <br />
          Restaurants
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 desc-section">
        <img src="../assets/train.png" class="icon img-fluid" alt="icon" />
        <div class="name" title="click me">
          Train <br />
          Info
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 desc-section">
        <img src="../assets/holiday.png" class="icon img-fluid" alt="icon" />
        <div class="name" title="click me">
          Holiday <br />
          Package
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Offer Section -->
<div id="offer">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <div class="heading">Offers</div>
      </div>
    </div>
    <div class="row">
      <div class="col-2 d-flex justify-content-center align-items-center">
        <i class="fas fa-chevron-left"></i>
      </div>
      <div class="col-8">
        <div class="banner"></div>
      </div>
      <div class="col-2 d-flex justify-content-center align-items-center">
        <i class="fas fa-chevron-right"></i>
      </div>
    </div>
  </div>
</div>

<!-- Subscribe Section -->
<div id="subscribe-section">
  <div class="container py-md-5">
    <div class="row">
      <div class="col-12">
        <div class="heading">Subscribe</div>
      </div>
      <form class="form">
        <input type="email" class="form-control" />
        <button type="submit" class="subscribeBtn">Submit</button>
      </form>
      <div class="col-12 d-flex justify-content-center">
        <div class="dwnld-btn">Download APP NOW</div>
      </div>
    </div>
  </div>
</div>

<!-- Footer Section -->
<app-footer></app-footer>
